@import './components/Header/header.css';
@import './components/Footer/footer.css';
@import './components/Menu/menu.css';
@import './components/Recipes/recipes.css';
@import './components/Chef/chef.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin: 0 auto !important;
}
h1, h2{
  font-family: 'Merriweather', serif !important;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cardIconWrapper {
  display: flex;
  justify-content: space-between;
}