@import './components/Header/header.css';
@import './components/Footer/footer.css';
@import './components//Menu/menu.css';
<<<<<<< HEAD
@import './components//Blog/blog.css';
@import './components//Bio/biopage.css';
@import './components//SingleUser/single.css';
=======

@import './components//Recipes/recipes.css';


>>>>>>> e26683cb5070514de12e66996dcbac5ba0a44a8a
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin: 0 auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cardIconWrapper {
  display: flex;
  justify-content: space-between;
}